<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatisorg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	

	<select id="listAll" parameterType="BoardVO" resultType="BoardVO">
		SELECT * FROM BOARD 
		WHERE BOARD_USE = 'Y'
		AND CATEGORY=#{category}
		<if test="search_key !=null and !search_key.equals('')">
		AND (
			TITLE LIKE CONCAT('%',#{search_key},'%') 
			OR
			CONTENT LIKE CONCAT('%',#{search_key},'%')
			OR
			WRITER LIKE CONCAT('%',#{search_key},'%')
		)
		</if>
		ORDER BY BOARD_NUMBER DESC
		LIMIT #{perpagenum} OFFSET #{startpage_boardnum}
	</select>
	
	<insert id="insert" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="board_number" >
		INSERT INTO BOARD (
			CATEGORY,
			TITLE,
			CONTENT,
			WRITER,
			WRITE_DATE,
			BOARD_USE,
			VIEW_CNT
		) VALUES(
			#{category},
			#{title},
			#{content},
			#{writer},
			now(),
			'Y',
			0
		)
	</insert>
	
	<select id="select_vo" parameterType="BoardVO" resultType="BoardVO">
		SELECT
			BOARD_NUMBER,
			TITLE,
			CONTENT,
			WRITER,
			DATE_FORMAT(WRITE_DATE,"%Y.%c.%d %H:%i") as WRITE_DATE
		FROM 
			BOARD 
		WHERE 
			BOARD_NUMBER = #{board_number}
	</select>
	
	<update id="update_viewcnt" parameterType="BoardVO" >
		UPDATE BOARD SET VIEW_CNT = VIEW_CNT+1
		WHERE
		BOARD_NUMBER = #{board_number}
	</update>
	
	<update id="update" parameterType="BoardVO">
		UPDATE BOARD SET
			TITLE = #{title}, 
			CONTENT = #{content},
			WRITE_DATE = now()
		WHERE 
			BOARD_NUMBER = #{board_number}
	</update>
	
	<delete id="delete" parameterType="BoardVO">
		DELETE
		FROM BOARD
		WHERE BOARD_NUMBER = #{board_number} 
	</delete>
	
	<select id="list_count" resultType="INT">
		SELECT COUNT(*) FROM BOARD
		WHERE BOARD_USE='Y'
		AND CATEGORY=#{category}
	</select>
</mapper>