<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatisorg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	

	<select id="listAll" parameterType="BoardVO" resultType="BoardVO">
		SELECT * FROM BOARD 
		WHERE BOARD_USE = 'Y'
		ORDER BY BOARD_NUMBER DESC
		LIMIT #{perpagenum} OFFSET #{startpage}
	</select>
	
	<insert id="insert" parameterType="BoardVO" >
		INSERT INTO BOARD (
			CODE,
			TITLE,
			CONTENT,
			WRITER,
			WRITE_DATE,
			SEARCH_KEY,
			BOARD_USE,
			VIEW_CNT
		) VALUES(
			#{code},
			#{title},
			#{content},
			#{writer},
			now(),
			#{search_key},
			'Y',
			0
		)
	</insert>
	
	<select id="select_vo" parameterType="BoardVO" resultType="BoardVO">
		SELECT * FROM BOARD WHERE BOARD_NUMBER = #{board_number}
	</select>
	
	<update id="update_viewcnt" parameterType="BoardVO" >
		UPDATE BOARD SET VIEW_CNT = VIEW_CNT+1
		WHERE
		BOARD_NUMBER = #{board_number}
	</update>
	
	<update id="update" parameterType="BoardVO">
		UPDATE BOARD SET
		TITLE = #{title}, CONTENT = #{content}
		WHERE BOARD_NUMBER = #{board_number}
	</update>
	
	<delete id="delete" parameterType="BoardVO">
		DELETE
		FROM BOARD
		WHERE BOARD_NUMBER = #{board_number} 
	</delete>
</mapper>