.shake {
	animation: shake .8s ease-in;
}

@keyframes shake {
	0%{
		transform:translate(0);
	}
	20%,
	40%,
	60%,
	80%{
		transform: translate(.8em);
		box-shadow: 0px 6px 20px rgba(0,0,0,.5);
	}
	10%,
	30%,
	50% {
		transform: translate(-.2em);
	}
	70%,
	100% {
		transform:  translate(0);
	}
}